<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7eb08e24-722c-43e1-b136-849eddeef2ec/resourceGroups/newacsdomainchecker_group/providers/Microsoft.Web/sites/newacsdomainchecker</ResourceId>
    <ResourceGroup>newacsdomainchecker_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://newacsdomainchecker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>newacsdomainchecker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>newacsdomainchecker</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$newacsdomainchecker</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdP0Cn2VZ7UWjs1i19bWstwAAAAACAAAAAAAQZgAAAAEAACAAAACBGtCgIc5xZ1fVbfmSViv+UlamUh973+Pkofi8H+YDZgAAAAAOgAAAAAIAACAAAAA+qvAKb+6s9TK1y+e61o6bnCNXaiOflm+G9mACyoLPr4AAAAB84PO1qU144nyGeWUO2x5sun0CJJwJ6SkukQqGvXqrPzh0DdzvEG7sZzOQa1M6AhY5SaJNEATGda16OYKT0kKW24MMuyZ6UFOi874wimF9ZH1E6Equ4/9KY2jYG1mQXD6x+mLL5ci496NEjJ27tlDCmJl9hqulJQ3NAJfAy7KeQUAAAAAr9aRaSl6c+mkUySkPOfl1gCArydTlxkbwvp7SGh7MHjpIiPCCgWjGlkCzJQobgUTEWj+QpNpEHrJ98aMHAuXj</EncryptedPassword>
    <History>True|2024-06-30T12:54:50.9564149Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>